@import url("https://fonts.googleapis.com/css?family=Comforter+Brush&display=swap");
@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
    font-size: 62.5%;
}

.App {
    font-family: "Comforter Brush", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
}

.kitchen-button{
  margin-left: 1000px;
}

h1 {
  font-size: 8rem;
  letter-spacing: 0.1rem;
  font-style: bold;
  color: chocolate;
  text-shadow: 0 0.2rem 5rem rgb(2, 2, 2);
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #558615;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem rgb(7, 6, 6);
  position: relative;
}

.alert {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;

  h3 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;

  &[type="text"] {
    padding: 0 0.5rem;
    width: 60%;
    color: #555;
  }

  &[type="submit"] {
    width: 25%;
    text-transform: uppercase;
    background-color: #4048b4;
    color: #fff;
  }
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #558615;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem rgb(5, 4, 4);

  h2 {
    background-color: rgba(161, 161, 161, 0.7);
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    right: 2.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 0.5rem 0.5rem #555;
    color: black;
  }

  img {
    border-radius: 0.5rem;
    object-fit: cover;
  }

  a {
    font-size: 1.8rem;
    color: #558615;
  }

  button {
    font-size: 2rem;
    text-transform: uppercase;
    color: #cf5029;
    background-color: #4048b4;
    border: none;
    border-radius: 0.5rem;
    height: 3rem;
  }
}

.ingredient-list, .nutrients_list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  font-family: cursive;
  color: #558615;
  font-size: 1.3rem;
}

@media screen and (max-width: 700px) {
    html{
      font-size: 34%;
    }
    .recipes{
      max-width: fit-content;
      display: inline;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }  
    .nutrients_list{
      max-width: fit-content;
    }  
}